{% extends "home-page.html"%}
{% block title %}Team Project Members{% endblock %}
{% block page_content%}
<h1>This is the page for all Team Members</h1>

  <div class="container">
    <h1 class="mt-5" text><i class="fa fa-user" aria-hidden="true"></i> Team Members</h1>
    <ul>
      <div class="container">
      <li>Abby Sawyer     <img src="static/img/AbbySawyerImg.png" class="text-center" alt="Abby Sawyer"></li>
    </div>
    <div class="container">
      <li>Alexis Newton <img src="static/img/AlexisNewtonImg.jpg" class="text-center" alt="Alexis Newton"></li>
    </div>
    <div class="container">
      <li>Gina Casale     <img src="static/img/GinaCasaleImg.png" class="text-center" alt="Gina Casale"></li>
    </div>
    </ul>
  </div>


{% endblock%}
