{% extends "home-page.html"%}
{% block title %}Team Project Members{% endblock %}
{% block page_content%}
<h1>This is the page for all Team Members</h1>

  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user" aria-hidden="true"></i> Team Members</h1>
    <ul>
      <li>Abby Sawyer</li>
      <li>Alexis Newton</li>
      <li>Gina Casale</li>
    </ul>
  </div>

  <div class="text-left">
    <img src="..." class="rounded" alt="Alexis Newton">
  </div>

  <div class="text-center">
    <img src="static/img/AlexisNewtonImg.jpg" class="rounded" alt="Alexis Newton">
  </div>

  <div class="text-right">
    <img src="..." class="rounded" alt="Alexis Newton">
  </div>
{% endblock%}
